# For the iCESugar Board (iCE40UP5K-QFN48)

set_io LED_G 41
set_io LED_R 40
set_io LED_B 39

set_io SW[0] 18
set_io SW[1] 19
set_io SW[2] 20
set_io SW[3] 21

set_io clk   35

set_io RX    4
set_io TX    6

set_io USB_DP       10
set_io USB_DN       9
set_io USB_PULLUP   11

# PMOD 1
set_io P1_1     10
set_io P1_2     6
set_io P1_3     3
set_io P1_4     48
set_io P1_9     47
set_io P1_10    2
set_io P1_11    4
set_io P1_12    9

# PMOD 2
set_io P2_1     46
set_io P2_2     44
set_io P2_3     42
set_io P2_4     37
set_io P2_9     36 
set_io P2_10    38
set_io P2_11    43
set_io P2_12    45

# PMOD 3
set_io P3_1     34 
set_io P3_2     31
set_io P3_3     27
set_io P3_4     25
set_io P3_9     23
set_io P3_10    26
set_io P3_11    28
set_io P3_12    32

# PMOD 4
set_io P4_1     21
set_io P4_2     20
set_io P4_3     19
set_io P4_4     18

set_io io_pmod2[0] 46
set_io io_pmod2[1] 44
set_io io_pmod2[2] 42
set_io io_pmod2[3] 37
set_io io_pmod2[4] 36
set_io io_pmod2[5] 38
set_io io_pmod2[6] 43
set_io io_pmod2[7] 45

set_io io_pmod3[0] 34
set_io io_pmod3[1] 31
set_io io_pmod3[2] 27
set_io io_pmod3[3] 25
set_io io_pmod3[4] 23
set_io io_pmod3[5] 26
set_io io_pmod3[6] 28
set_io io_pmod3[7] 32


#spi
set_io SPI_SS   16
set_io SPI_SCK  15
set_io SPI_MOSI 17
set_io SPI_MISO 14
